.wrapper {
  padding: 2px;
  background: linear-gradient(
    90deg,
    #ffb5c4 -4.17%,
    #a50e2d -4.16%,
    rgba(237, 116, 140, 0.85) 48.46%,
    #ffffff 99.99%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 12px;
}

.card {
  display: flex;
  padding: 10px;
  width: 72px;
  height: 71px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: -0.30000001192092896px;
  align-items: end;
}
