.daysRow {
  display: flex;
  gap: 3px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.day {
  display: flex;
  flex-direction: column;
  padding: 5px 8px 4px 8px;
  background-color: #fff;
  border-radius: 4px;
  color: #212122;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.317px;
  min-width: 16px;

  span:first-child {
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
  }

  &:first-child {
    margin-left: 24px;
  }
}

.active {
  background-color: #a6192e;
  color: #fff;
}
