.category {
  padding: 5px 8px;
  color: #212122;
  font-size: 10px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.317px;
  border-radius: 8px;
  border: 1px solid #BBC1C7;
  background: #FFF;
  cursor: pointer;
}