.item {
  border-radius: 8px;
  padding: 12px 14px;
  display: flex;
  gap: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 35px;
  background-color: rgba(242, 245, 247, 1);
  margin-bottom: 8px;
  align-items: center;
  max-height: 24px;

  a {
    text-decoration: none;
    color: #000;
  }
}
