.wrapper {
  padding: 32px 24px;
  background-color: #f2f5f7;
}

.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 47px;
  color: #363636;
  height: 47px;
  margin-bottom: 16px;
  display: block;
}
